
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  font-size: 18px;
  background: #f8e8e2 url(../assets/img/bg.svg) no-repeat top/contain;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, fieldset {
  margin: 0;
}